@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

$font_primary:"Akshar",
sans-serif;
$font_secondary:"Adamina",
serif;

$color_primary:#1F1341;
$color_secondary:#B6ECD9;
$color_black:#000000;
$color_white:#ffffff;
$color_gray_light:#f6f6f6;